body {
    background-color: #FAFAFA;
    }
    
    p {
    margin-top: -15px;
    }
    
    .icon-list {
    list-style: none;
    float: left;
    }
    
    input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
    }
    
    ::placeholder{
    text-align: center;
    font-size: 14px;
    color: gray;
    }
    
    .avatar {
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-top: 10px;
    float: right;
    background-repeat: no-repeat;
    }
    
    .storyphoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(238, 39, 82);
    }
    
    .storytext {
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: black;
    }
    
    .stry {
    float: left;
    }
    
    .dot {
    float: right;
    }
    
    .postuserfont {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
    }
    
    .rightpanellinks {
    text-decoration: none;
    color: lightgrey;
    }
    
    .rightpanellinks:hover {
    text-decoration: none;
    color: lightgrey;
    }